<li class="nav-item p-3 py-md-1">
    <a href="{{ url_for('docenti.anagrafica_docente') }}" class="nav-link">Anagrafica</a>
</li>
<li class="nav-item p-3 py-md-1">
    <a href="{{ url_for('docenti.new_esame') }}" class="nav-link">Nuovo esame</a>
</li>
<li class="nav-item p-3 py-md-1">
    <a href="{{ url_for('docenti.new_prova') }}" class="nav-link">Nuova prova</a>
</li>
<li class="nav-item p-3 py-md-1">
    <a href="{{ url_for('docenti.new_appello') }}" class="nav-link">Nuova appello</a>
</li>
<li class="nav-item p-3 py-md-1">
    <a href="{{ url_for('docenti.esiti_esami') }}" class="nav-link">Esiti esami</a>
</li>
<li class="nav-item p-3 py-md-1">
    <a href="{{ url_for('autenticazione.logout') }}" class="nav-link">Esci</a>
</li>