{# estensione dell'html base #}
{% extends 'main/base_navbar.html' %}

{% block title %}
    professor-new_prova
{% endblock %}

{% block styles %}
    <link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block li %}
 {% include 'professor/navbar_docente.html' %}
{% endblock %}

{% block content %}
{% include 'main/message.html' %}

<div class="container d-flex align-items-center justify-content-center">
    <h1>Nuova prova</h1>
</div>

<br>

<form class="form-register" action="{{ url_for('docenti.conferma_prova') }}" method="POST">

    <div class="row">
      <div class="form-group col-md-6">
        <label for="esameid" class="form-label">Esame</label>
        <select class="form-control" id="esameid" name="esameid" required>
            {% for esame in esami %}
                <option value="{{esame.idE}}">{{esame.idE}} {{esame.corso}}</option>
            {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="tipologiaid" class="form-label">Tipologia</label>
        <select class="form-control" id="tipologiaid" name="tipologiaid" required>
          <option value="Orale">Orale</option>
          <option value="Scritto" selected>Scritto</option>
          <option value="Progetto">Progetto</option>
          <option value="Compitino">Compitino</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
          <label for="ricadutaid" class="form-label">Ricaduta</label>
          <select class="form-control" id="ricadutaid" name="ricadutaid" required>
            <option value="Voto">Voto</option>
            <option value="Bonus" selected>Bonus</option>
            <option value="Idoneità">Idoneità</option>
          </select>
      </div>
      <div class="form-group col-md-6">
          <label for="pesoid" class="form-label">Peso</label>
          <input type="number" class="form-control" id="pesoid" name="pesoid" placeholder="Peso" >
      </div>
    </div>

  <br>
  <button type="submit" class="btn btn-primary">Crea</button>
  </form>

{% endblock %}